@model IEnumerable<ShiKe.ViewModels.EntityVM>

<div>
    <button type="button" class="btn btn-success pull-right"  onclick="openCreateOrEditModal('@Guid.NewGuid().ToString()','@ViewBag.ControllerInstanName')">新建 @ViewBag.EntityTitle </button>
    <h2 class="sub-header">管理 @ViewBag.EntityTitle 数据</h2>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="50px">编号</th>
                <th width="200px">名称</th>
                <th>简要说明</th>
                <th width="100px">编码</th>
                <th width="150px">数据操作</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var boVM in Model)
                {
                    <tr>
                        <td>@boVM.OrderNumber</td>
                        <td>@boVM.Name</td>
                        <td>@boVM.Description</td>
                        <td>@boVM.SortCode</td>
                        <td>
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" onclick="openCreateOrEditModal('@boVM.ID.ToString()','@ViewBag.ControllerInstanName')">编辑</button>
                                <button type="button" class="btn btn-default" onclick="openDetailInfomationModal('@boVM.ID.ToString()','@ViewBag.ControllerInstanName')">明细</button>
                                <button type="button" class="btn btn-default"
                                        onclick="openDeleteModal('@boVM.ID.ToString()','你所选择删除的对象是：@boVM.Name（@boVM.SortCode），请确认是否继续执行。')">
                                    删除
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
