@*@model ABOS.ViewModels.BusinessShop.OrderManagerVM*@
@{
    Layout = "_ChildrenLayout";
}
<link href="~/css/UserChildrenye/OrderInfo.css" rel="stylesheet" />
<meta charset="utf-8" />
<div class="Information">
    <h3 class="CollectionTitle">订单详情 <span>/ Order Details</span></h3>
    <div class="user_orderinfo">
        <!--进度条-->
        <div class="order_progress">
            <div class="order_progress_list">
                <div class="step_1 step">
                    <div class="op_stage_icon_bg"></div>
                    <i class="op_stage_icon_inner">1<em class="icon_bg"></em></i>
                    <p class="stage_name">拍下商品</p>
                </div>
                <div class="step_2 step">
                    <div class="op_stage_icon_bg"></div>
                    @if (Model.StatusInTransaction.ToString() == "AwaitGoodsrReceipt" && Model.TransactionStatus.ToString() == "PendingTransaction")
                    {
                        <i class="op_stage_icon_inner">2<em class="icon_bg" style=" background-image: url(../../images/UserChildren/sprite01.png);"></em></i>
                    }
                    else if (Model.StatusInTransaction.ToString() != "AwaitGoodsrReceipt")
                    {
                        <i class="op_stage_icon_inner">2<em class="icon_bg"></em></i>
                    }
                    <p class="stage_name">商家发货</p>
                </div>
                <div class="step_3 step">
                    <div class="op_stage_icon_bg"></div>
                    @if (Model.StatusInTransaction.ToString() == "AwaitPayment" && Model.TransactionStatus.ToString() == "PendingTransaction")
                    {
                        <i class="op_stage_icon_inner">3<em class="icon_bg" style=" background-image: url(../../images/UserChildren/sprite01.png);"></em></i>
                    }
                    else
                    {
                        <i class="op_stage_icon_inner">3<em class="icon_bg"></em></i>
                    }
                    <p class="stage_name">确认收货</p>
                </div>
                <div class="step_4 step">
                    <div class="op_stage_icon_bg"></div>
                    @if (Model.TransactionStatus.ToString() == "Success")
                    {
                        <i class="op_stage_icon_inner">4<em class="icon_bg" style=" background-image: url(../../images/UserChildren/sprite01.png);"></em></i>
                    }
                    else
                    {
                        <i class="op_stage_icon_inner">4<em class="icon_bg"></em></i>
                    }
                    <p class="stage_name">交易完成</p>
                </div>
                <span class="u_progress_placeholder"></span>
            </div>
            <div class="u_progress_bar total_step_2">
                <div class="u_progress_bar_inner"></div>
            </div>
        </div>
        <!--订单-->
        <div class="order_infoaside">
            <!--物流-->
            <div class="order_logistics">

                <div class="icon_log">
                    <a href="../../ShopManagerView/Logistics"><img src="~/images/UserChildren/receive.png" /></a>
                </div>
                <!--物流最后一站-->
                <div class="latest_logistics">
                    <p class="text">已签收，签收人是菜鸟驿站，感谢使用天天快递，期待再次为您服务</p>
                    <!--签收时间-->
                    <div class="time_list">
                        <span class="date">2016-12-24</span><span class="week">周六</span><span class="time">16:36:27</span>
                    </div>
                    <!--查看物流-->
                    <div class="inquire">
                        <span class="package_detail">物流：天天快递</span>
                        <span class="package_detail">快递单号：</span>
                        <span class="package_number">76120809333201</span>
                        <a href="../../ShopManagerView/Logistics">查看</a>
                    </div>
                </div>
                <span class="icon_angle_right icon"></span>

                <div class="clear"></div>
            </div>
            <!--订单收货地址-->
            <div class="order_addresslist">
                <div class="order_address">
                    <div class="icon_add">
                    </div>
                    <p class="new-tit new_p_re">
                        <span class="new_txt">简明</span>
                        <span class="new_txt_tel">@Model.UserAddress.ReceiptTelephone</span>
                    </p>
                    <div class="new_delivery new_p_re">
                        <p class="new_delivery_cw">
                            <span class="title">收货地址：</span>
                            <span class="province">@Model.UserAddress.ReceiptAddress</span>
                            <span class="province">@Model.UserAddress.DetailedAddress</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--订单主要信息-->
        <div class="order_infomain">
            <div class="order_top">
                <div class="th th_item">
                    <td class="td_inner">商品</td>
                </div>
                <div class="th th_price">
                    <td class="td_inner">单价</td>
                </div>
                <div class="th th_number">
                    <td class="td_inner">数量</td>
                </div>
                <div class="th th_operation">
                    <td class="td_inner">商品操作</td>
                </div>
                <div class="th th_amount">
                    <td class="td_inner">合计</td>
                </div>
                <div class="th th_status">
                    <td class="td_inner">交易状态</td>
                </div>
                <div class="th th_change">
                    <td class="td_inner">交易操作</td>
                </div>
            </div>
            <div class="order_main">
                <div class="order_status3">
                    <div class="order_title">
                        <div class="dd_num">订单编号：<span>@Model.OrderNum</span></div>
                        <span>订单时间：@Model.OrderDateTime</span>
                    </div>
                    <div class="order_content">
                        <div class="order_left">
                            <ul class="item_list">
                                <li class="td td_item">
                                    <div class="item_pic">
                                        <a href="../../User/Ceshi" class="MakePoint">
                                            <img src="~/images/em01.jpg" />
                                        </a>
                                    </div>
                                    <div class="item_info">
                                        <div class="item_basic_info">
                                            <div>
                                                <p>@Model.Specialty.Name</p>
                                                <p>@Model.Specialty.Description</p>
                                                <p class="info_little">
                                                    净重：2500g
                                                    <br />包装：散装
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="td td_price">
                                    <div class="item_price">@Model.Specialty.SpecialtyPrice</div>
                                </li>
                                <li class="td td_number">
                                    <div class="item_number"><span>×</span>@Model.Number</div>
                                </li>
                                <li class="td td_operation">
                                    @if (Model.StatusInTransaction.ToString() != "AwaitEvaluate" || Model.StatusInTransaction.ToString() != "Success")
                                    {
                                        <a href="../../UserChildren/Refund" class="item_operation">退款/退货</a>
                                    }
                                    else
                                    {
                                        <span class="item_operation" style="color:#eee">无操作</span>
                                    }
                                </li>
                            </ul>
                        </div>
                        <div class="order_right">
                            <ul>
                                <li class="td td_amount">
                                    <div class="item_amount">
                                        合计：@Convert.ToInt32(Model.Specialty.SpecialtyPrice * Model.Number)
                                        <p>含运费：<span>0.00</span></p>
                                    </div>
                                </li>
                                <ul class="move_right">
                                    <!--订单状态-->
                                    <li class="td td_status">
                                        <div class="item_status">
                                            <p class="Mystatus">卖家已发货</p>
                                            @if (Model.StatusInTransaction.ToString() != "AwaitEvaluate" || Model.StatusInTransaction.ToString() != "Success")
                                            {
                                                <p class="order_info"><a href="../../ShopManagerView/Logistics">查看物流</a></p>
                                                <p class="order_info"><a href="../../User/Ceshi">延长收货</a></p>
                                            }
                                        </div>
                                    </li>
                                    <li class="td td_change">
                                        @if (Model.StatusInTransaction.ToString() != "AwaitEvaluate" || Model.StatusInTransaction.ToString() != "Success")
                                        {
                                            <a href="../../UserChildren/OrderReceipt/@Model.ID" class="confirmbtn">确认收货</a>
                                        }
                                        else
                                        {
                                            <span class="confirmbtn" style="background:#eee;border:1px solid #eee;">无操作</span>
                                        }
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
